.cursor-click {
  cursor: pointer;
}

// border
.border-F-radius-s8 {
  border-radius: 8px;
}

.border-F-radius-s50 {
  border-radius: 50px;
}

.border-gray-s2 {
  border: 2px #e5e5e5 solid;
}

.divShadow {
  box-shadow: 0px 10px 30px #E5E5E5
}