/* You can add global styles to this file, and also import other style files */
input:focus-visible,
textarea:focus-visible {
  outline: unset !important;
  outline-offset: unset !important;
}
.CC-alert {
  color: red;
  margin-top:8px ;
  font-size: 14px !important;
  font-family: Cairo-Regular;
}

::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

textarea {
  resize: none;
  }